main > .form-createentryform-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 0.5rem;
}

main > .form-createentryform-container > h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.7rem;
  color: var(--DarkBlue);
  font-weight: bold;
  text-align: center;
}

main > .form-createentryform-container > p {
  text-align: center;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

main > .form-createentryform-container > .div-photoselector-container {
  margin: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: center;
}

main > .form-createentryform-container > .div-photoselector-container > h3 {
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
}

main > .form-createentryform-container > .div-photoselector-container > input {
  margin-bottom: 1rem;
  font-size: 1rem;
}

main > .form-createentryform-container > .div-textarea-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main
  > .form-createentryform-container
  > .div-textarea-button-container
  > textarea {
  width: 300px;
  height: 50px;
  margin-bottom: 1rem;
  padding: 0.6rem;
  resize: none;
  border: 1px solid black;
}

main
  > .form-createentryform-container
  > .div-textarea-button-container
  > button {
  font-weight: bold;
  padding: 0.3rem 1rem;
  margin-bottom: 1rem;
  width: auto;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-align: center;
  background-color: var(--DarkBlue);
  color: white;
  border: 1px solid black;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}

/*#####################################################################*/

/*
### RESPONSIVE PARA TABLET ##
#############################
#### MEDIA QUERY: 700px #####
#############################
*/
@media (min-width: 700px) {
  main > .form-createentryform-container > h2 {
    font-size: 2.5rem;
  }

  main > .form-createentryform-container > p {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  main > .form-createentryform-container > .div-photoselector-container > h3 {
    font-size: 1.7rem;
  }

  main
    > .form-createentryform-container
    > .div-photoselector-container
    > input {
    font-size: 1.3rem;
  }

  main > .form-createentryform-container > .div-photoselector-container {
    margin: 0.5rem 7rem;
    width: auto;
    border: none;
  }

  main
    > .form-createentryform-container
    > .div-textarea-button-container
    > textarea {
    width: 500px;
    height: 50px;
    margin-bottom: 1rem;
    padding: 0.6rem;
    resize: none;
    border: 1px solid black;
    font-size: 1rem;
  }
}

/*#####################################################################*/

/*
##### RESPONSIVE PARA PC ####
#############################
#### MEDIA QUERY: 1200px ####
#############################
*/
@media (min-width: 1200px) {
  main > .form-createentryform-container > h2 {
    font-size: 3.5rem;
  }

  main > .form-createentryform-container > p {
    margin: 0rem 18rem;
  }

  main > .form-createentryform-container > .div-photoselector-container > h3 {
    font-size: 2rem;
  }

  main
    > .form-createentryform-container
    > .div-textarea-button-container
    > textarea {
    width: 450px;
  }

  main
    > .form-createentryform-container
    > .div-textarea-button-container
    > button {
    font-size: 1.5rem;
  }
}
