.div-ownprofile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-ownprofile-container > h2 {
  padding-top: 1rem;
  font-size: 1.7rem;
  color: var(--DarkBlue);
  font-weight: bold;
}

.div-ownprofile-container > .p-ownprofile-sectiontitle {
  padding-top: 1rem;
  font-weight: bold;
}

/*--------------------------------------------------*/

.div-ownprofilebutton-container,
.div-ownprofilebutton-container > a {
  display: flex;
  flex-direction: column;
}

.div-ownprofilebutton-container > button {
  padding: 0.3rem 1rem;
  margin: 1rem 0rem;
  width: auto;
  align-self: center;
  font-size: 1rem;
  text-align: center;
  background-color: var(--DarkBlue);
  color: white;
  border: 1px solid black;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}

/*--------------------------------------------------*/

.ul-profile-photocontainer {
  background: var(--degradado);
  border: 2px solid rgb(118, 118, 118);
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  list-style: none;
}

.ul-profile-photocontainer > li > img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

/*--------------------------------------------------*/

.div-ownprofilebutton-container > a > button {
  padding: 0.3rem 1rem;
  margin: 1rem 0rem;
  width: auto;
  align-self: center;
  font-size: 1rem;
  text-align: center;
  background-color: var(--DarkBlue);
  color: white;
  border: 1px solid black;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}

/*#####################################################################*/

/*
### RESPONSIVE PARA TABLET ##
#############################
#### MEDIA QUERY: 700px #####
#############################
*/
@media (min-width: 700px) {
  .div-ownprofile-container > h2 {
    font-size: 2.5rem;
  }

  .div-ownprofile-container > .p-ownprofile-sectiontitle {
    font-size: 1.7rem;
  }
}

/*#####################################################################*/

/*
##### RESPONSIVE PARA PC ####
#############################
#### MEDIA QUERY: 1200px ####
#############################
*/
@media (min-width: 1200px) {
  .div-ownprofile-container > h2 {
    font-size: 3.5rem;
  }

  .div-ownprofile-container > .p-ownprofile-sectiontitle {
    font-size: 2rem;
  }

  .div-ownprofilebutton-container > button {
    font-size: 1.5rem;
  }

  .ul-profile-photocontainer {
    margin: 1.5rem 20rem;
    gap: 1rem;
    padding: 1rem;
  }

  .ul-profile-photocontainer > li > img {
    width: 450px;
    height: 300px;
    object-fit: cover;
  }

  /*--------------------------------------------------*/

  .div-ownprofilebutton-container > a > button {
    font-size: 1.5rem;
  }
}
